@model Jeuci.SalesSystem.Services.Dtos.ServiceInfoDto
@{
    var count = 1;
}

<script src="~/Scripts/sales/SelasConfirm.js"></script>

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">@Model.ServiceName</h4>
    </div>
    @using (Html.BeginForm("", "", FormMethod.Post, new {role = "form", id="form1", @class = "form-horizontal"}))
    {
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            软件版本
                        </div>
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <tbody>
                                @foreach (var servicePrice in Model.ServicePrices)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@servicePrice.AuthDesc</td>
                                        <td>@servicePrice.Price</td>
                                        <td>
                                            @Html.RadioButton("SoftwareVersion", servicePrice.Id, count == 1)
                                        </td>
                                    </tr>
                                    count++;
                                }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            授权
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.Label("用户名", new {@class = "col-sm-2 control-label"})
                                <div class="col-sm-9">
                                    @Html.TextBox("UserName", null, new {@class = "form-control"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("销售价格", new {@class = "col-sm-2 control-label"})
                                <div class="col-sm-9">
                                    @Html.TextBox("Cost", null, new {@class = "form-control"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("备注", new {@class = "col-sm-2 control-label"})
                                <div class="col-sm-9">
                                    @Html.TextArea("Remarks", null, new {@class = "form-control"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button id="btn-confirm" type="button" class="btn btn-primary">确认</button>
        </div>
    }

</div>

<!-- /.modal-content -->
